@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #222D32
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header nav li {
    display: inline;
    list-style-type: none;
}

header nav a {
    
    text-decoration: none;
    color: white;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}


main table {
    background-color: black;
    border-radius: 5px;
    width: 750px;
    position: relative;
    top: 100px;
    -webkit-box-shadow:0 0 20px #FFD700; 
    -moz-box-shadow: 0 0 20px #FFD700; 
    box-shadow:0 0 20px #FFD700;
}




 main form {
    border: 5px;
    border-radius: 5px;
    width: 450px;
    background-color: black;
    position: relative;
    top: 250px;
    -webkit-box-shadow:0 0 20px blue; 
    -moz-box-shadow: 0 0 20px blue; 
    box-shadow:0 0 20px blue;


}


main label {
    color: white;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
}



section h1 {
    color: white;
    text-align: center;
}

section h2 {
    color: white;
    text-align: center;
}


section .name h1 {
    color: black;
    text-align: center;
    position: relative;
    top: 100px;
}

