@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #222D32
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


header nav li {
    display: inline;
    list-style-type: none;
}

header nav a {
    
    text-decoration: none;
    color: white;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}


 main form {
    border: 5px;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 500px;
    position: relative;
    top: 250px;
    -webkit-box-shadow:0 0 20px blue; 
    -moz-box-shadow: 0 0 20px blue; 
    box-shadow:0 0 20px blue;


}


main label {
    color: white;
}